table {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    font-size: .9em;
    width: 572px;
}

    table th {
        background-color: #245479;
        border-color: #245479;
        font-size: 1.2em;
        color: white;
    }

table, th, td {
    border: 1px solid #869aa7;
    border-collapse: collapse;
    padding: 5px;
    text-align: center;
}

    table tr:nth-child(even) {
        background-color: #c6d0d7;
    }

    table tr:nth-child(odd) {
        background-color: #fff;
    }
